/* 
 * RESET
 */
*,
*:before,
*:after{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}


/* 
 * ALL
 */
html{
    background: #2b2a33;
    color: #e5e5e5;
    font-size: 62.5%;
    font-weight: normal;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}
body{
    font-size: 2rem;
}


/* 
 * SVG
 */
svg{
    width: 2.8rem;
    fill: #e5e5e5;
    transition: all .4s;
}
svg:hover{
    fill: #ff9519;
}


/* 
 * LINE
 */
.line{
    width: 100%;
    height: 1px;
    background: #3e4e6a;
    margin: 6rem 0;
}
@media (max-width: 622px){
    .line{
        margin: 3rem 0;
    }
}


/*
 * LINKS
 */
a:link{
    color: #0695cf;
    text-decoration: none;
    transition: all .4s;
}
a:visited{
    color: #0695cf;
}
a:hover{
    color: #ff9519;
}


/*
 * HEADER
 */
.header{
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 1.6rem;
}
.logo img{
    width: 116px;
    height: 40px;
    vertical-align: middle;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    list-style: none;
}
.menu a{
    display: block;
    color: #e5e5e5;
    font-weight: 500;
}
.menu a:hover{
    color: #ff9519;    
}
.menu-links,
.menu-icons{
    display: flex;
    flex-wrap: wrap;
}
.menu-links a,
.menu-icons a{
    padding: 1.6rem;
}
.menu-icons svg{
    vertical-align: middle;
}

/*
 * MENU-MOBILE
 */
.btn-mobile{
    display: none;
}
 @media (max-width: 622px){
    .btn-mobile{
        display: block;
        padding: 1.6rem;
    }
    .menu-icon{
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .menu-icon img{
        vertical-align: middle;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: #2b2a33;
        position: fixed;
        top: -110%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .4s;
    }
    .mobile.show-menu{
        top: 72px;
        left: 0;
    }
    .menu-links{
        flex-direction: column;
    }
    .menu-links,
    .menu-icons{
        width: 100%;
    }
    .menu-links li{
        border-bottom: 1px solid #3e4e6a;
    }
}


/*
 *
 * COVER
 *
 */
.cover{
    height: 86vh;
    max-width: 990px;
    margin: 0 auto;
    padding: 1.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cover-title{
    font-size: 5.4rem;
    line-height: 1;
    color: transparent;
    -webkit-background: linear-gradient(90deg, #ff9519 0,#0695cf 90%);
    -moz-background: linear-gradient(90deg, #ff9519 0,#0695cf 90%);
    background: linear-gradient(90deg, #ff9519 0,#0695cf 90%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.cover-intro p + p{
    margin-top: 1.6rem;
}
a.btn-link{
    text-align: center;
    max-width: 14rem;
    display: block;
    padding: 1.6rem;
    color: #0695cf;
    border: 1px solid #0695cf;
    border-radius: .6rem;
    transition: all .5s;
}
a.btn-link:hover{
    color: #ff9519;
    border: 1px solid #ff9519;
}

/*
 * ABOUT
 */
.about{
    padding: 1.6rem;
    max-width: 990px;
    margin: 0 auto;
}
.about-title{
    font-size: 4.2rem;
    margin-bottom: 3.2rem;
}
.about-title::first-letter{
    font-size: 5.2rem;
    text-shadow: 4px -2px 0px #CE5937;
    padding-right: 2px;
}
.about p + p{
    margin-top: 1.6rem;
}

/*
 * SKILLS
 */
.skills{
    padding: 1.6rem;
    max-width: 990px;
    margin: 0 auto;
}
.skills-title{
    font-size: 4.2rem;
    margin-bottom: 3.2rem;
}
.skills-title::first-letter{
    font-size: 5.2rem;
    text-shadow: 4px -2px 0px #CE5937;
    padding-right: 2px;
}
.skills p + p{
    margin-top: 1.6rem;
}
.skills-badges span{
    display: inline-block;
    margin: 0 1.6rem 1.6rem 0;
    padding: 1.6rem;
    border-radius: .6rem;
    background-color: #3a3945;
    transition: all .4s;
}
.skills-badges span:hover{
    background-color: #0695cf;
    transform: scale(1.2);
}

/*
 * FOOTER
 */
.footer{
    max-width: 990px;
    margin: 0 auto 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-icons{
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.footer-icons a{
    display: block;
    padding: .5rem;
}
.footer-icons svg{
    vertical-align: middle;
}
@media(max-width: 622px){
    .footer{
        margin: 0 auto 3rem;
    }
}