/* 
 * RESET
 */
*,
*:before,
*:after{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}


/* 
 * COLORS
 */
 :root {
    /* layout width */
    --max-width-layout: 1160px;
    /* dark theme*/
    --dark-border: #121314;
    --dark-bg-primary: #1f1f1f;
    --dark-bg-secondary: #121314;
    /* text */
    --white-100: #f2f2f3;
    --white-200: #dadadc;
    --white-300: #b5b5bb;
    --white-400: #909099;
    --white-500: #6b6b77;
    --white-600: #464655;
    --blue-100: #f0f6fc; 
    --blue-200: #d4e5f6;
    --blue-300: #aaccee;
    --blue-700: #0066cc;
    --orange-100: #fff6f1;
    --orange-200: #ffe5d7;
    --orange-300: #ffccaf;
    --orange-700: #ff6611;
}


/* 
 * ALL
 */
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.44;
    scroll-behavior: smooth;
}
body{
    font-size: 2.4rem;
}
img{
    max-width: 100%;
    display: block;
}
.box-shadow{
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, .25);
}

/* 
 * TITLE
 */
 h1,
 h2{
    font-family: 'Gabarito', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
 }
 h1{
    font-size: 6.4rem;
    line-height: .9;
 }
 h2{
    font-size: 4rem;
    line-height: 1.1;
 }
 h3{
    font-size: 3.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.25;
 }
 @media (max-width: 880px){
    h1{
        font-size: 5.6rem;
     }
    h2{
        font-size: 3.6rem;
    }
    h3{
        font-size: 2.8rem;
    }
}
@media (max-width: 840px){
    h1{
        font-size: 5.2rem;
    }
    h2{
        font-size: 3.2rem;
    }
}
@media (max-width: 360px){
    h1{
       font-size: 4.4rem;
    }
}


/* 
 * BRAND and MENU
 */
 .header{
    max-width: var(--max-width-layout);
    padding: 1.6rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }
 a.link-brand svg{
    max-width: 140px;
    vertical-align: middle;
 }
 .nav{
    display: flex;
    align-items: center;
 }
 .menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }
 .menu a{
    display: block;
    padding: .6rem 1.2rem;
    font-weight: 300;
    text-decoration: none;
    transition: color .3s;
 }

 /*
  *MENU MOBILE
  */
.icon-menu{
    display: none;
}
@media (max-width: 780px) {
    .hidden-scroll{
        overflow: hidden;
    }
    .icon-menu{
        display: block;
        cursor: pointer;
    }
    .nav{
        display: none;
    }
    .svg-icon-menu{
        width: 5.2rem;
        vertical-align: middle;
    }
    .nav.nav-show{
        width: 100%;
        display: block;
        z-index: 10;
        position: absolute;
        top: 96px;
        left: 0;
        height: calc(100vh - 96px);
        animation: animaMenu .4s forwards;
    }
    .nav.nav-show .menu li{
        width: 100%;
        margin: 0 1.6rem;
    }
    .nav.nav-show .menu a{
        font-size: 2.8rem;
        padding: 1.6rem 0;
    }
    @keyframes animaMenu {
        from{
            opacity: 0;
            transform: translate3d(0, -20px, 0);
        }
        to{
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}



 /*
  *HERO
  */
.hero{
    position: relative;
    max-width: var(--max-width-layout);
    min-height: 720px;
    margin: 0 auto;
    padding: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.name-hero,
.avatar-hero{
    flex: 1;
}
.place{
    font-weight: 300;
    margin: .8rem 0 1.6rem;
    line-height: 1.2;
}
.social{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.social li + li{
    padding-left: .8rem;
}
.social svg path{
    transition: stroke .3s;
}
.social a{
    display: block;
    max-height: 32px;
}
.avatar-hero{
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 759px){
    .hero{
        flex-direction: column;
        align-content: flex-start;
        min-height: auto;
        margin: 6.4rem auto;
    }
    .name-hero{
        margin-bottom: 3.2rem;
    }
    .name-hero,
    .avatar-hero{
        width: 100%;
    }
    .avatar-hero{
        justify-content: flex-start;
    }
}


/* 
 * ABOUT
 */
.about{
    max-width: var(--max-width-layout);
    margin: 64px auto;
    padding: 1.6rem;
}
.about-container{
    width: 81.0344%;
    max-width: 960px;
    margin: 64px auto 0;
    padding: 32px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about-avatar{
    flex: 3;
}
.about-biography{
    flex: 7;
}
.strong{
    font-weight: 600;
}
@media (max-width: 880px){
    .about{
        margin: 3.2rem auto;
    }
    .about-container{
        margin: 3.2rem auto 0;
    }    
}
@media (max-width: 880px){
    .about-container{
        width: 100%;
    }
}
@media (max-width: 600px){
    .about-container{
        flex-direction: column;
    }
    .about-container,
    .about-avatar,
    .about-biography{
        width: 100%;
        max-width: 100%;
    }
    .about-avatar img{
        width: 200px;
        height: 200px;
        margin-bottom: 1.2rem;
    }
}


/* 
 * EXPERIÊNCIA and EDUCATION
 */
.experience,
.education{
    max-width: var(--max-width-layout);
    margin: 64px auto;
    padding: 1.6rem;
}
.work-container,
.education-container{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.work-two,
.work-three,
.course-two,
.course-three{
    margin-top: 40px;
}
.work-two,
.course-two{
    align-self: center;
}
.work-three,
.course-three{
    align-self: flex-end;
}
.work-one,
.work-two,
.work-three,
.course-one,
.course-two,
.course-three{
    border-radius: 4px;
    width: 78%;
    max-width: 780px;
    padding: 3.2rem;
    display: flex;
    flex-wrap: wrap;
}
.work-avatar,
.course-avatar{
    flex: 2;
}
.work-description,
.course-description{
    flex: 6;
}
.work-label span,
.course-label span{
    display: inline-block;
    border-radius: 4px;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: .8rem 1.6rem;
}
.work-description h2,
.course-description h2{
    margin: 2rem 0;
}
.work-description h3{
    margin-bottom: 2rem;
}
@media (max-width: 880px){  
    .experience,
    .education{
        margin: 3.2rem auto;
    }
    .work-container,
    .education-container{
        margin-top: 3.2rem;
    }
    .work-one,
    .work-two,
    .work-three,
    .course-one,
    .course-two,
    .course-three{
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width: 600px){
    .work-avatar img,
    .course-avatar img{
        margin-bottom: 1.2rem;
        width: 200px;
        height: 200px;
    }
    .work-avatar,
    .course-avatar,
    .work-description,
    .course-description{
        flex: 1 1 100%;
    }
}


/* 
 * PROJETOS
 */
.projects{
    max-width: var(--max-width-layout);
    margin: 64px auto;
    padding: 1.6rem;
}
.projects-container{
    margin-top: 64px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3.2rem;
}
.project{
    flex: 1 1 280px;
    padding: 32px;
    border-radius: 4px;
}
.project img{
    border-radius: 4px;
}
.project h2{
    margin: 1.6rem 0;
    text-transform: uppercase;
}
.project-description{
    margin-bottom: 2rem;
}
.project-label span{
    font-size: 1.6rem;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 4px;
    padding: .8rem 1.6rem;
}
.project-label span{
    margin: .8rem .8rem 0 0;
}
.project-btn{
    margin-top: .8rem;
}
.project-btn a.btn{
    display: inline-block;
    border-radius: 4px;
    padding: .8rem 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    transition: background-color .3s;
}
.project-btn a.btn{
    margin: .8rem .8rem 0 0;
}
@media (max-width: 880px){
    .projects{
        margin: 3.2rem auto;
    }
    .projects-container{
        margin-top: 3.2rem;
    }
}


/* 
 * FOOTER
 */
.footer{
    max-width: var(--max-width-layout);
    padding: 1.6rem;
    margin: 64px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footer-copy{
    margin-right: 1.6rem;
    font-weight: 300;
}
@media (max-width: 880px){
    .footer{
        margin: 3.2rem auto;
    }
}
@media (max-width: 340px){
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-copy{
        margin: 0 0 .8rem 0;
    }
}


/* 
 * CHANGE DARK MODE, ARROW TOP, SCROLL ICON
 */
.lamp{
    width: 5.2rem;
    height: 5.2rem;
    position: fixed;
    bottom: 1.2rem;
    right: 1.3rem;
    cursor: pointer;
    z-index: 8;
}
.arrow-top{
    width: 4.6rem;
    height: 4.6rem;
    position: fixed;
    bottom: 7rem;
    right: 1.6rem;
    cursor: pointer;
    z-index: 8;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
}
.arrow-top-show{
    visibility: visible;
    opacity: 1;
}
.scroll{
    visibility: visible;
    opacity: 1;
    position: fixed;
    z-index: 8;
    transition: all .6s;
    left: calc(50% - 11px);
    animation: buttonscroll 0.6s ease-in 0s infinite alternate;
}
.scroll-hidden{
    visibility: hidden;
    opacity: 0;
}
@keyframes buttonscroll{
    from {
        bottom: 6.4rem;
    }
    to {
        bottom: 5.4rem;
    }
}


/*
 * THEME DARK - DEFAULT 
 */
 /* all */
 html{
    background: var(--dark-bg-primary);
    color: var(--white-200);
}
.line{
    min-height: 1px;
    border-top: 1px solid var(--dark-border);
}
/* header */
.menu a{
    color: var(--white-200);
}
.menu a:hover{
    color: var(--orange-700);
}
.social svg:hover path{
    stroke: var(--orange-700);
}
/* about */
.about-container{
    background-color: var(--dark-bg-secondary);
    border-bottom: 2px solid var(--orange-700);
}
/* experience */
.experience h2{
    color: var(--blue-700);
}
.work-one,
.work-two,
.work-three{
    background-color: var(--dark-bg-secondary);
    border-bottom: 2px solid var(--blue-700);
}
.work-label span{
    color: var(--blue-700);
    border: 1px solid var(--blue-700);
}
/* education */
.education h2{
    color: var(--orange-700);
}
.course-one,
.course-two,
.course-three{
    background-color: var(--dark-bg-secondary);
    border-bottom: 2px solid var(--orange-700);
}
.course-label span{
    color: var(--orange-700);
    border: 1px solid var(--orange-700);
}
/* projects */
.project{
    background-color: var(--dark-bg-secondary);
}
.project h2{
    color: var(--blue-700);
}
.project{
    border-bottom: 2px solid var(--blue-700);
}
.project-label span{
    border: 1px solid var(--blue-700);
    color: var(--blue-700);
}
.project-btn .btn{
    color: var(--white-100);
    background-color: var(--blue-700);
}
.project-btn .btn:hover{
    background-color: var(--orange-700);
}
/* lamp and arrow-top*/
.lamp svg:hover path,
.arrow-top svg:hover path,
.arrow-top svg:hover circle{
    stroke: var(--orange-700);
}
/* scroll icon */
.scroll svg path{
    stroke: var(--blue-700);
}
/* icon menu mobile */
@media (max-width: 780px) {
    .svg-icon-menu{
        stroke: var(--white-200);
    }
    .nav.nav-show{
        background-color: var(--dark-bg-primary);
    }
    
    .nav.nav-show .menu a{
        border-top: 1px solid var(--dark-border);
    }
}


/* 
 * THEME WHITE
 */
/* all */
.dark-off{
    background: var(--white-100);
    color: var(--white-600);
}
.dark-off .line{
    border-top: 1px solid var(--white-200);
}
/* lamp and arrow-top*/
.dark-off .lamp svg:hover path,
.dark-off .arrow-top svg:hover path{
    stroke: var(--orange-700);
}
/* header */
.dark-off .cgf{
    fill: var(--white-600);
}
.dark-off .menu a{
    color: var(--white-600);
}
.dark-off .menu a:hover{
    color: var(--orange-700);
}
.dark-off .social svg path{
    stroke: var(--white-600);
}
.dark-off .social svg:hover path{
    stroke: var(--orange-700);
}
/* hero */
.dark-off .people-hero{
    stroke: var(--white-600);
}
/* about */
.dark-off .about-container{
    background-color: var(--orange-100);
    border-bottom: 2px solid var(--orange-700);
}
/* experience */
.dark-off .work-one,
.dark-off .work-two,
.dark-off .work-three{
    background-color: var(--blue-100);
}
.dark-off .work-label span{
    color: var(--white-600);
    background-color: var(--blue-200);
    border: 1px solid var(--blue-300);
}
.dark-off .course-one,
.dark-off .course-two,
.dark-off .course-three{
    background-color: var(--orange-100);
}
.dark-off .course-label span{
    color: var(--white-600);
    background-color: var(--orange-200);
    border: 1px solid var(--orange-300);
}
/* projects */
.dark-off .project{
    background-color: var(--blue-100);
}
.dark-off .project-label span{
    color: var(--white-600);
    background-color: var(--blue-200);
    border: 1px solid var(--blue-300);
}
.dark-off .project img{
    border: 1px solid var(--white-200);
}
/* icon menu mobile */
@media (max-width: 730px) {
    .dark-off .svg-icon-menu{
        stroke: var(--white-600);
    }
    .dark-off .nav.nav-show{
        background-color: var(--white-100);
    }
    .dark-off .nav.nav-show .menu a{
        border-top: 1px solid var(--white-200);
    }
}