/*
 * RESET
 */

*,
*:before,
*:after{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}


/*
 * COLORS
 */
 :root {
    /* layout width */
    --max-width-layout: 1160px;
    /* dark theme*/
    --dark-border: #101112;
    --dark-bg-primary: rgba(31, 31, 31, .96);
    --dark-bg-secondary: #101112;
    /* text */
    --white-100: #f2f2f3;
    --white-200: #dadadc;
    --white-300: #b5b5bb;
    --white-400: #909099;
    --white-500: #6b6b77;
    --white-600: #464655;
    --white-700: #222233;
    --blue-100: #f0f6fc; 
    --blue-200: #d4e5f6;
    --blue-300: #aaccee;
    --blue-400: #7fb2e5;
    --blue-500: #5599dd;
    --blue-600: #2a7fd4;
    --blue-700: #0066cc;
    --orange-100: #fff6f1;
    --orange-200: #ffe5d7;
    --orange-300: #ffccaf;
    --orange-400: #ffb288;
    --orange-500: #ff9960;
    --orange-600: #ff7f38;
    --orange-700: #ff6611;

    /*new colors*/
    /*blue-colors*/
    --blue-base: #0066CC;
    --blue-primary: #007AF5;
    --blue-secondary: #0052A3;
    /*orange-colors*/
    --orange-base: #FA7A2F;
    --orange-primary:#FB9F69;
    --orange-secondary:#E85906;
    /*text-colors*/
    --text-black: #101112;
    --text-white: #D9D9DC;
    --text-white-button: #FFFFFF;
    --text-black-button: #000000;
    /*bg-colors*/
    --bg-white: #EFEDED;
    --bg-black: #262729;
    --bg-white-box: #FFFFFF;
    --bg-black-box: #3B3B3B;
}


/*
 * ALL
 */
*:focus-visible{
    outline-offset: 2px;
    outline: 4px dashed var(--orange-700);
    border-radius: 6px;
}
html{
    font-size: 62.5%;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.44;
    scroll-behavior: smooth;
}
body{
    font-size: 2.4rem;
}
p{
    margin-bottom: 1.2rem;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.box-shadow{
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, .25);
}


/*
 * TITLES
 */
 h1,
 h2,
 h3,
 h4{
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
 }
 h1{
    font-size: 6.4rem;
    line-height: 1;
 }
 h2{
    font-size: 6rem;
    line-height: 1.1;
    margin-bottom: 6.4rem;
 }
 h3{
    font-size: 4rem;
    line-height: 1.2;
    margin: 0 0 1.6rem;
 }
 h4{
    font-size: 3.2rem;
    line-height: 1.4;
    font-weight: 400;
    margin: 0 0 .8rem;
 }
 @media (max-width: 880px){
    h1{
        font-size: 5.6rem;
    }
    h2{
        font-size: 5.2rem;
        margin-bottom: 3.2rem;
    }
    h3{
        font-size: 3.2rem;
    }
    h4{
        font-size: 2.6rem;
    }
}
@media(max-width: 380px){
    h1{
        font-size: 4.6rem;
    }
    h2{
        font-size: 4.2rem;
    }
    h3{
        font-size: 3rem;
    }
}


/*
 * BRAND and MENU
 */
 .header{
    max-width: var(--max-width-layout);
    padding: 1.6rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }
 .navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }
 a.link-brand{
    display: block;
 }
 a.link-brand svg{
    max-width: 120px;
    max-height: 39px;
    vertical-align: middle;
 }
 .ui-switch{
    margin-left: .6rem;
    order: 2;
 }
 .nav-links{
    order: 1;
 }
 .links{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }
 .links a{
    display: inline-block;
    padding: .6rem 1.2rem;
    font-weight: 300;
    text-decoration: none;
    transition: color .3s ease;
    font-size: 2rem;
 }
 @media (max-width: 1200px){
    .header{
        padding: 1.6rem 3.2rem;
    }
 }


 /*
  *MENU MOBILE
  */
.icon-nav{
    display: none;
}
@media (max-width: 820px) {
    .ui-switch{
        margin:0 .6rem 0 0;
    }
    .ui-switch,
     .nav-links{
        order: initial;
     }
    .hidden-scroll{
        overflow: hidden;
    }
    .links{
        width: 100%;
    }
    .icon-nav{
        display: block;
        cursor: pointer;
    }
    .nav-links{
        flex-direction: column;
        flex-wrap: nowrap;
        z-index: 2;
        width: 100%;
        position: absolute;
        top: 96px;
        left: 0;
        height: calc(100vh - 96px);
        opacity: 0;
        transform: translate3d(calc(-100% - 84px), 0, 0);
        transition: .4s ease all;
    }
    .nav-links li{
        width: 100%;
        margin: 0 1.6rem;
    }
    .links a{
        width: 100%;
        font-size: 2.8rem;
        padding: 1.6rem 0;
    }
    .svg-icon-nav{
        width: 5.2rem;
        vertical-align: middle;
    }
    .nav-links.nav-open{
        opacity: initial;
        transform: initial;
    }
}


/*
 *HERO
 */
.hero{
    max-width: var(--max-width-layout);
    margin: 0 auto;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    height: calc(100vh - 150px);
    min-height: 540px;
}
.hero-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.hero-name,
.hero-svg{
    flex: 1 1 340px;
}
.hero-svg{
    display: flex;
    justify-content: flex-end;
}
.hero-svg svg{
    width: 100%;
    height: auto;
    display: block;
}
.place{
    font-weight: 300;
    margin: .8rem 0 1.6rem;
    line-height: 1.2;
}
.social{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-height: 3.2rem;
}
.social li + li{
    padding-left: .8rem;
}
.social a{
    display: inline-block;
}
.icon-github{
    mask: url(../img/svg/github.svg) no-repeat;
}
.icon-instagram{
    mask: url(../img/svg/instagram.svg) no-repeat;
}
.icon-linkedin{
    mask: url(../img/svg/linkedin.svg) no-repeat;
}
.icon-email{
    mask: url(../img/svg/email.svg) no-repeat;
}
.icon{
    display: block;
    width: 32px;
    height: 32px;
    mask-size: contain;
}
@media(max-width: 1200px){
    .hero{
        padding: 1.6rem 3.2rem;
    }
}
@media (max-width: 820px){
    .hero-name{
        flex: 1 1 100%;
        justify-content: flex-start;
    }
    .hero-svg{
        display: none;
    }
}


/*
 * ABOUT
 */
.about{
    max-width: var(--max-width-layout);
    margin: 64px auto;
    padding: 1.6rem;
}
.about-content{
    width: 81.0344%;
    max-width: 960px;
    margin: 0 auto;
    padding: 32px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about-avatar{
    flex: 3;
    margin-right: 1.8rem;
}
.about-avatar img{
    border-radius: .4rem;
}
.about-biography{
    flex: 7;
}
@media(max-width: 1200px){
    .about{
        padding: 1.6rem 3.2rem;
    }
}
@media (max-width: 880px){
    .about{
        margin: 3.2rem auto;
    }
    .about-content{
        width: 100%;
    }
}
@media (max-width: 600px){
    .about-content{
        flex-direction: column;
    }
    .about-content,
    .about-avatar,
    .about-biography{
        width: 100%;
    }
    .about-avatar,
    .about-biography{
        margin: 0;
    }
    .about-avatar img{
        width: 200px;
        height: 200px;
        margin: 0 0 1.2rem;
    }
}


/*
 * EXPERIENCE and EDUCATION
 */
.experience,
.education{
    max-width: var(--max-width-layout);
    margin: 64px auto;
    padding: 1.6rem;
}
.work-content,
.education-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.work-two,
.work-three,
.course-two,
.course-three{
    margin-top: 40px;
}
.work-two,
.course-two{
    align-self: center;
}
.work-three,
.course-three{
    align-self: flex-end;
}
.work-one,
.work-two,
.work-three,
.course-one,
.course-two,
.course-three{
    border-radius: 4px;
    width: 78%;
    max-width: 820px;
    padding: 3.2rem;
    display: flex;
    flex-wrap: wrap;
}
.work-avatar,
.course-avatar{
    flex: 2;
}
.work-description,
.course-description{
    flex: 6;
}
.work-label span,
.course-label span{
    display: inline-block;
    border-radius: 4px;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: .8rem 1.6rem;
}
 @media (max-width: 1200px){
    .experience,
    .education{
        padding: 1.6rem 3.2rem;
    }
 }
@media (max-width: 880px){
    .experience,
    .education{
        margin: 3.2rem auto;
    }
    .work-one,
    .work-two,
    .work-three,
    .course-one,
    .course-two,
    .course-three{
        width: 100%;
    }
}
@media (max-width: 600px){
    .work-avatar img,
    .course-avatar img{
        margin-bottom: 1.2rem;
        width: 200px;
        height: 200px;
    }
    .work-avatar,
    .course-avatar,
    .work-description,
    .course-description{
        flex: 1 1 100%;
    }
}


/*
 * PROJETOS
 */
.projects{
    max-width: var(--max-width-layout);
    margin: 64px auto;
    padding: 1.6rem;
}
.projects-content{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3.2rem;
}
.project{
    flex: 1 1 280px;
    padding: 32px;
    border-radius: 4px;
}
.project img{
    border-radius: 4px;
    margin-bottom: 1.6rem;
}
.project-description{
    margin-bottom: 2rem;
}
.project-label span{
    font-size: 1.6rem;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 4px;
    padding: .8rem 1.6rem;
    margin: .8rem .8rem 0 0;
}
.project-btn{
    margin-top: .8rem;
}
.project-btn a.btn{
    display: inline-block;
    border-radius: 4px;
    padding: .8rem 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    transition: background-color .3s;
    margin: .8rem .8rem 0 0;
}
@media (max-width: 1200px){
    .projects{
        padding: 1.6rem 3.2rem;
    }
}
@media (max-width: 880px){
    .projects{
        margin: 3.2rem auto;
    }
}


/*
 * FOOTER
 */
.footer{
    max-width: var(--max-width-layout);
    padding: 1.6rem;
    margin: 64px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footer-copy{
    margin: 0 1.6rem 0 0;
    font-weight: 300;
}
@media (max-width: 880px){
    .footer{
        margin: 3.2rem auto;
    }
}
@media (max-width: 340px){
    .footer{
        flex-direction: column;
    }
    .footer-copy{
        margin: 0 0 .8rem;
    }
}


/*
 * RETURN TOP, SCROLL ICON
 */
.return-top{
    width: 4.8rem;
    height: 4.8rem;
    position: fixed;
    bottom: 2rem;
    right: 2.6rem;
    cursor: pointer;
    opacity: 0;
    transition: .3s ease all;
}
.return-top-visible{
    opacity: 1;
}
.scroll{
    opacity: 1;
    position: fixed;
    transition: .6s ease all;
    left: calc(50% - 11px);
    animation: buttonscroll 0.6s ease-in 0s infinite alternate;
}
.scroll-hidden{
    opacity: 0;
    overflow: hidden;
}
@keyframes buttonscroll{
    from {
        bottom: 3.2rem;
    }
    to {
        bottom: 2.2rem;
    }
}
@media (max-width: 498px){
    .return-top{
        bottom: 10rem;
        right: 1.6rem;
    }
}

/*
 * Switch Dark Mode
 */
/* From Uiverse.io by Galahhad */
.ui-switch {
    /* switch */
    --switch-bg: #909099;
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: var(--blue-base);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  }
  .dark-off .ui-switch {
    /* circle */
    --circle-bg: var(--orange-base);
  }
  .ui-switch input {
    display: none;
  }
  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
  }
  .slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: calc(100% - var(--circle-diameter));
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);*/
  }
  .slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--text-white);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  /* actions */
  .ui-switch input:checked+.slider .circle {
    left: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  }
  .ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
  }


/*
 * THEME DARK - DEFAULT
 */
 /* all */
 html{
    background: var(--bg-black);
    color: var(--text-white);
}
/* header */
.links a{
    color: var(--text-white);
}
.links a:hover{
    color: var(--orange-base);
}
.icon{
    background: var(--text-white);
}
.icon:hover{
    background: var(--orange-base);
}
/* about */
.about-content{
    background-color: var(--bg-black-box);
    border-bottom: 5px solid var(--orange-base);
}
/* experience */
.work-one,
.work-two,
.work-three{
    background-color: var(--bg-black-box);
    border-bottom: 5px solid var(--blue-base);
}
.work-label span{
    color: var(--text-white);
    border: 1px solid var(--text-white);
}
/* education */
.course-one,
.course-two,
.course-three{
    background-color: var(--bg-black-box);
    border-bottom: 5px solid var(--orange-base);
}
.course-label span{
    color: var(--text-white);
    border: 1px solid var(--text-white);
}
/* projects */
.project{
    border-bottom: 5px solid var(--blue-base);
    background-color: var(--bg-black-box);
}
.project-label span{
    border: 1px solid var(--text-white);
    color: var(--text-white);
}
.project-btn .btn{
    color: var(--text-white);
    background-color: var(--blue-base);
}
.project-btn .btn:hover{
    color: var(--text-black-button);
    background-color: var(--orange-base);
}
/* return-top*/
.return-top svg:hover path,
.return-top svg:hover circle{
    stroke: var(--orange-base);
}
/* scroll icon */
.scroll svg path{
    stroke: var(--text-white);
}
/* icon menu mobile */
@media (max-width: 820px) {
    .svg-icon-nav{
        stroke: var(--text-white);
    }
    .nav-links.nav-open{
        background-color: var(--bg-black);
    }

    .nav-links.nav-open .links a{
        border-top: 1px solid var(--bg-black-box);
    }
}


/*
 * THEME WHITE
 */
/* all */
.dark-off{
    background: var(--bg-white);
    color: var(--text-black);
}
/* return-top*/
.dark-off .return-top svg:hover path{
    stroke: var(--orange-base);
}
/* header */
.dark-off .links a{
    color: var(--text-black);
}
.dark-off .links a:hover{
    color: var(--orange-base);
}
.dark-off .icon{
    background: var(--text-black);
}
.dark-off .icon:hover{
    background: var(--orange-base);
}
/* hero */
.dark-off .people-hero{
    stroke: var(--text-black);
}
/* about */
.dark-off .about-content{
    background-color: var(--bg-white-box);
}
/* experience */
.dark-off .work-one,
.dark-off .work-two,
.dark-off .work-three{
    background-color: var(--bg-white-box);
}
.dark-off .work-label span{
    color: var(--text-black);
    border: 1px solid var(--text-black);
}
/* education */
.dark-off .course-one,
.dark-off .course-two,
.dark-off .course-three{
    background-color: var(--bg-white-box);
}
.dark-off .course-label span{
    color: var(--text-black);
    border: 1px solid var(--text-black);
}
/* projects */
.dark-off .project{
    background-color: var(--bg-white-box);
}
.dark-off .project-label span{
    color: var(--text-black);
    border: 1px solid var(--text-black);
}
.dark-off .project img{
    /*border: 1px solid var(--text-black);*/
}
/* icon menu mobile */
@media (max-width: 820px) {
    .dark-off .svg-icon-nav{
        stroke: var(--text-black);
    }
    .dark-off .nav-links.nav-open{
        background-color: var(--bg-white);
    }
    .dark-off .nav-links.nav-open .links a{
        border-top: 1px solid var(--text-black);
    }
}


/*
 * 404
 */
.container-404{
    background-color: #272f42;
}
.intro-404{
    min-height: 100vh;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
}
.illustration-404{
    flex: 2;
    width: 100%;
    max-width: 700px;
}
.text-404{
    flex: 1;
}
.text-404 h1{
    margin-bottom: 3.2rem;
}
.text-404 p{
    margin-bottom: 1.6rem;
}
.lnk-home{
    color: var(--blue-base);
    transition: all .3s ease;
}
.lnk-home:hover{
    color: var(--orange-base);
}
@media (max-width: 768px){
    .container-404{
        padding: 1.6rem 2rem;
    }
    .text-404{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .illustration-404,
    .text-404{
        flex: 1;
        min-width: 100%;
    }
    .text-404{
        order: -1;
    }
}
